body{
    background-color:rgb(226, 235, 237);
    height: 1200px;  
}


a:link{
    color:black;
    text-decoration : none;
}
 
a:visited { color:black; 
    text-decoration : none ;}
 
a:hover { 
    color:black; 
    text-decoration : underline;
}
 
a:active { color:black; 
    text-decoration : none ;}
 

.one {
    position: relative;
    margin-left : 64.3%;
    margin-top : 10px;
}


.two {
    margin-left : 17.5%;
    margin-top  : 30px;
}


.three {
    position: relative;
    margin-left : 72%;
    margin-top : -20px;
}



img{
    width: 164px;
    height: 180px;
    margin-left: 19px;
    }



    .box1{
        margin-top: 100px;
        margin-left : 16.3%;
        background-color:lightcoral;
        border : 1px solid lightcoral;
        width: 184px;
        height: 459px;
        color:white;
        
    }



    .floatRight{
        margin-top : 30px;
    border: 0.5px solid black;
    }
      

    .box2{
         border : 5px solid white;
         margin-top: -479px;
        margin-left : 29.8%;
        background-color:white;
        
        width: 571px;
        height: 910px;       
    }

    .box3{
        border : 5px solid lightcoral;
        background-color: lightcoral;
        margin-top: -60.5%;
        margin-left : 70.667%;
        width: 180px;
        }


        input{
            width: 150px;
            height: 27px;
            margin: 18% 18% 18% 6.5%;
        }


button{
    width: 146px;
    height: 37px;
}

.float1{
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 8px solid rgb(226, 235, 237);







}


.frist{
    width: 64px;
    height: 20px;
    margin-left: 19px;
}
    
    
.float{
    width: 100px;
    height: 85px;
    margin-left: 10px;
}


